<<<<<<< HEAD
.main-content {
    flex: 1;
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
=======
.main-content {
    flex: 1;
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
>>>>>>> f2a2b16 (Initial commit with router fix)
  }